<div class="titleAligned">
    <h2>Gitlab Issues</h2>
    <p>here we have a list of issues collected.</p>

    <div class="surround">
    {{#if issues.length}}
        {{#each issues}}
                <div class="issueSquareContent">
                <img src={{this.author.avatar_url}} alt='Gitlab users profile picture'> 
                    <p issue-id={{this.iid}} class="numberOfTheIssue">Issue: {{this.iid}}</p>
                    <h5>Title:  {{this.title}} </h5>
                    <span class="theUser"> User: {{this.author.name}} </span>
                    <p class="descriptForIssue">Description: {{this.description}}</p>
                    <span class="stateOfIssue">State: {{this.state}} </span>
                </div>
        {{/each}}
    {{/if}}
    </div>
</div>

<template id="issue-template">
    <div class="issueSquareContent">
        <img  alt='Gitlab users profile picture'> 
        <span class="numberOfTheIssue"></span>
        <h5> </h5>
        <span class="theUser"> </span>
        <p class="descriptForIssue"></p>
        <span class="stateOfIssue"> </span>
    </div>
</template>