<div class="titleAligned">
    <h2>Gitlab Issues</h2>
    <p>here we have a list of issues collected.</p>

    {{#if issues.length}}
        {{#each issues}}

        <div class="theIssue">
            <div class="surround">
                <div class="issueSquareContent">
                    <span class="numberOfTheIssue"> {{this.iid}}</span>
                    <h5>Title:  {{this.title}} </h5>
                    <span class="theUser"> User: {{this.author.name}} </span>
                    <hr>
                    <p class="descriptForIssue">Description: {{this.description}}</p>
                </div>
                <div class="commentSektion">
                    {{!-- {{#if this.comments.length}}
                        {{#each this.comments}} --}}
                            <span class="commentsOnIssue">Comments: {{this.comments}} </span>
                        {{!-- {{/each}}
                    {{/if}} --}}
                    <span class="stateOfIssue">State: {{this.state}} </span>
                <hr>
                <br>
                <span class="timeOfCreation"> Created:  {{this.created_at}} </span>
                <br>
                <span class="timeOfUpdate"> Last Updated: {{this.updated_at}} </span>
                </div>

            </div>
        </div>
        {{/each}}
    {{/if}}
</div>