<div class="titleAligned">
    <h2>Gitlab Issues</h2>
    <p>here we have a list of issues collected.</p>

    <div class="surround">
    {{#if issues.length}}
        {{#each issues}}
                <div issue-id={{this.iid}} class="issueSquareContent">
                <img src={{this.author.avatar_url}} alt='Gitlab users profile picture'> 
                    <p  class="numberOfTheIssue">Issue: {{this.iid}}</p>
                    <h5>Title: {{this.title}} </h5>
                    <span class="theUser"> User: {{this.author.name}} </span>
                    <p class="descriptForIssue">Description: {{this.description}}</p>
                    <p class="stateOfIssue" value={{this.state}}>State: {{this.state}} </p>
                    <button id="open" value={{this.iid}} class="openButton" >Open issue</button>
                    <button id="close" value={{this.iid}} class="closeButton">Close issue</button>
                </div>
        {{/each}}
    {{/if}}
    </div>
</div>

<template id="issue-template">
    <div class="issueSquareContent">
        <img  alt='Gitlab users profile picture'> 
        <p class="numberOfTheIssue"></p>
        <h5> </h5>
        <span class="theUser"> </span>
        <p class="descriptForIssue"></p>
        <p class="stateOfIssue"> </p>
        <button id="open" class="openButton"> Open button</button>
        <button id="close" class="closeButton">Close button </button>
    </div>
</template>